@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

.global-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.center-container {
  background: #f3f3f3;
  min-width: 320px;
  min-height: 640px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.center-container .top-container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  margin-top: 20px;
}

.center-container .top-container * {
  font-size: .9em;
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

.center-container .top-container .time {
  flex-grow: 4;
  padding-left: 20px;
}

.center-container .top-container .icons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  padding-right: 20px;
}

.center-container .top-container .icons .feather {
  flex-grow: 1;
  width: 17px;
  height: 17px;
}

.center-container .searchbar-container {
  height: 25px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 20px;
  display: flex;
  align-items: center;
  border-radius: 30px;
}

.center-container .searchbar-container .feather {
  width: 15px;
  height: 15px;
  padding-left: 20px;
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.6);
}

.center-container .main-content-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-container .main-content-container .product-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-container .main-content-container .product-image-container .product-image {
  width: 60%;
  height: auto;
}

.center-container .main-content-container .product-image-container .product-shadow {
  width: 70%;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  filter: blur(5px);
}

.center-container .main-content-container .product-desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  width: 70%;
  margin-top: 20px;
  padding: 0 0 30px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.center-container .main-content-container .product-desc-container .product-name, .center-container .main-content-container .product-desc-container .product-subname {
  font-family: "Lato", sans-serif;
  color: rgba(0, 0, 0, 0.6);
  font-size: 20px;
}

.center-container .main-content-container .product-desc-container .product-name {
  margin-top: 15px;
}

.center-container .main-content-container .product-desc-container .product-subname {
  margin-bottom: 15px;
}

.center-container .main-content-container .product-desc-container .options-container {
  display: flex;
  flex-direction: row;
}

.center-container .main-content-container .product-desc-container .options-container .button {
  margin: 10px;
  width: 60px;
  padding: 10px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

.center-container .main-content-container .product-desc-container .options-container .cart-button {
  background: #62e0b6;
  background: linear-gradient(90deg, #62e0b6 0%, #20da9b 100%);
}

.center-container .main-content-container .product-desc-container .options-container .cart-button .feather {
  padding-top: 2px;
  color: white;
}

.center-container .main-content-container .product-desc-container .options-container .bookmark-button {
  background: #f2b11d;
  background: linear-gradient(90deg, #f2b11d 0%, #fcaf00 100%);
}

.center-container .main-content-container .product-desc-container .options-container .bookmark-button .feather {
  padding-top: 2px;
  color: white;
}

.center-container .bottom-container {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: transparent;
  margin-bottom: 10px;
}

.center-container .bottom-container .icons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.center-container .bottom-container .icons .feather {
  flex-grow: 1;
  width: 17px;
  height: 17px;
  color: rgba(0, 0, 0, 0.6);
}

.center-container .bottom-container .icons .home-selection {
  position: relative;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  bottom: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}

.center-container .bottom-container .icons .home-selection .feather-home {
  color: rgba(0, 0, 0, 0.6);
}
